.wrapper {
  position: relative;
  isolation: isolate;
}

.dots {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.content {
  position: relative;
  z-index: 2;
}

@media (max-width: $mantine-breakpoint-sm) {
  .dotLayer {
    display: none;
  }
}
