.smallImg img {
  max-width: 120px;
  /* max-height: 220px; */
  /* width: fit-content; */
  height: fit-content;
  /* align-self: center;
  align-content: center;
  text-align: center; */
  margin-left: auto;
  margin-right: auto;
}
